In [17]:
import numpy as np
import pandas as pd
import statistics

In [37]:
df = pd.DataFrame()
df['age'] = [6, 8, 8, 10, 11, 12, 14]
df

   age
0    6
1    8
2    8
3   10
4   11
5   12
6   14

In [38]:
np.mean(df['age'])

9.857142857142858

In [39]:
np.median(df['age'])

10.0

In [40]:
statistics.mode(df['age'])

8

In [41]:
np.var(df['age'])

6.408163265306122

In [42]:
np.std(df['age'], ddof=1)

2.734262327610589

In [43]:
np.std(df['age'] ,ddof=1) / np.sqrt(len(df['age']))

1.0334540197243192

In [ ]:
#The most useful description of central tendency in this case is the mean. 
#While the mean is sensitive to outliers, it is reflective of the true mean here because the variance is low. 
#To assess variance, I prefer the standard deviation.  
#In this case, all of the data is within two standard deviations from the mean, 
#which indicates that it is a fairly normal distribution.

In [44]:
df = pd.DataFrame()
df['age'] = [7, 8, 8, 10, 11, 12, 14]
df

   age
0    7
1    8
2    8
3   10
4   11
5   12
6   14

In [45]:
np.mean(df['age'])

10.0

In [46]:
np.median(df['age'])

10.0

In [47]:
statistics.mode(df['age'])

8

In [48]:
np.var(df['age'])

5.428571428571429

In [49]:
np.std(df['age'], ddof=1)

2.516611478423583

In [50]:
np.std(df['age'] ,ddof=1) / np.sqrt(len(df['age']))

0.9511897312113418

In [51]:
df = pd.DataFrame()
df['age'] = [1, 7, 8, 10, 11, 12, 14]
df

   age
0    1
1    7
2    8
3   10
4   11
5   12
6   14

In [52]:
np.mean(df['age'])

9.0

In [53]:
np.median(df['age'])

10.0

In [54]:
statistics.mode(df['age'])

StatisticsError: no unique mode; found 7 equally common values

In [55]:
np.var(df['age'])

15.428571428571429

In [56]:
np.std(df['age'], ddof=1)

4.242640687119285

In [57]:
np.std(df['age'] ,ddof=1) / np.sqrt(len(df['age']))

1.6035674514745462

In [ ]:
# If you consider the major magazines a representative sample of the population, then the support would average around 20%.
#Since the 5% is an outlier, it might be worth excluding that data so that the mean is not biased.